$Primary_1: #292929;
$Primary_2: #232323;
$Primary_3: #ffffff; //white
$Primary_4: #5c5355;
$Primary_5: #000000; //black
$Primary_6: #a7a7a7;
$Primary_7: #131313;
$Primary_8: #a5a5a5;
$Primary_8: #cbcbcb;
$Secondary_1: #707070;
$Secondary_2: #a9a9a9;
$Secondary_3: #dcdcdc;
$Secondary_4: #3e3e3e;
$Secondary_5: #8d5252;
$Secondary_6: #fcfcfc;
$Secondary_7:#dee3de;
